// COLORS
$primary-color: red;
$secondary-color: blue;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: white;

$dark-grey: orange;

$dark-blue-text: purple; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
