// COLORS
$primary-color: #368b85;
$secondary-color: #87a8a4;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f1e9e5;

$dark-grey: #464660;

$dark-blue-text: #11324d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
